.pure-menu {
	background: $background-color-menu;
	border-bottom: $border-menu;
	color: $text-color;
	.pure-menu-list {
		.pure-menu-item {
			.pure-menu-link {
			 	&:hover {
			 		background: $background-hover-color;
			 	}
				color: $text-color;
			}
		}
		.pure-menu-children {
			background: black;
		}
	}
}