<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Controller</title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/css.css" type="text/css">
</head>
<body>
	<div class="container">
		{% include 'templates/partials/navigation.twig' %}
		{% block content %}{% endblock %}
		
	</div>
</body>
</html>
